bionic/code_error/code_error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:simpleType name="ErrorIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ErrorCodeValueType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0x[0-9A-Fa-f]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PrintkLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KERN_EMERG"/>
            <xs:enumeration value="KERN_ALERT"/>
            <xs:enumeration value="KERN_CRIT"/>
            <xs:enumeration value="KERN_ERR"/>
            <xs:enumeration value="KERN_WARNING"/>
            <xs:enumeration value="KERN_NOTICE"/>
            <xs:enumeration value="KERN_INFO"/>
            <xs:enumeration value="KERN_DEBUG"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="AptenErrorCodes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Metadata" minOccurs="0"/>
                <xs:element ref="Error" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="Metadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Author" type="xs:string"/>
                <xs:element name="Date" type="xs:date"/>
                <xs:element name="Description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="Error">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Code" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="module_name" type="xs:string" use="required"/>
            <xs:attribute name="module_id" type="ErrorCodeValueType" use="required"/>
        </xs:complexType>
        <xs:unique name="UniqueErrorCode">
            <xs:selector xpath="Code"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>


    <xs:element name="Code">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Message" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="ErrorIdType" use="required"/>
            <xs:attribute name="value" type="ErrorCodeValueType" use="required"/>
            <xs:attribute name="printk_level" type="PrintkLevelType" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
